.userInfo {
    background-image: url('../../img/bg.jpg');
    height: 900px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.booking_history {
    background-image: url('../../img/bg2.jpg');
    height: 900px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
